.body {
  width: 100%;
  height: 120px;
  background-color: #1b1c20;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #e8dfe9;
  box-sizing: border-box;
  margin: 10px 0px;
  cursor: pointer;
}

.containerImg {
  height: 100px;
  width: 130px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.containerImg img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.containerData {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.containerData h3 {
  font-weight: bold;
  font-size: 17px;
  margin: 0px;
}
.containerP {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.containerP div {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 5px;
}

.icon {
  margin-right: 5px;
  color: #7c16f5;
}

.containerP div p {
  margin: 0px;
  font-size: 14px;
  opacity: 0-8;
}

@media screen and (max-width: 700px) {
  .containerData h3 {
    font-size: 16px;
  }

  .containerP div p {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .body {
    height: 140px;
  }

  .containerImg {
    height: 120px;
  }

  .containerData h3 {
    font-size: 14px;
  }

  .containerP div p {
    font-size: 12px;
  }
}
