.body {
  width: 100%;
  height: 100px;
  background-color: #1b1c20;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: #e8dfe9;
  box-sizing: border-box;
}

.dontImgContainer {
  height: 100%;
  min-width: 100px;
  max-width: 100px;
  border: 2px dashed #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  opacity: 0.4;
}

.containerImg {
  height: 100%;
  min-width: 100px;
  max-width: 100px;
  border-top-left-radius: 6.5px;
  border-bottom-left-radius: 6.5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.containerData {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  padding-right: 3px;
  box-sizing: border-box;
  overflow: hidden;
}

.Tittle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 1.2;
  margin: 0px;
  margin-left: 3px;
  font-weight: 500;
  padding-bottom: 1px;
}

.TittleTwo {
  font-size: 17px;
  margin: 0px;
  margin-left: 3px;
  font-weight: 500;
  padding-bottom: 1px;
}

.containerPOne {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px;
  margin-top: 3px;
  margin-bottom: 2px;
}

.containerPTwo {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px;
}

.icon {
  margin-right: 5px;
}

.body .containerData p {
  margin: 0px;
  font-size: 12px;
  opacity: 0-8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
