.bodyLoader {
  width: 100%;
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyLoaderLazyLoad {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyLoaderLazyLoad p {
  color: #ffffff;
  font-size: 16px;
}

.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0px;
}

.containerInput {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.containerButtons {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 30px 0px;
  gap: 10px;
}

.containerPicker {
  position: relative;
  width: 700px;
}

.positionDatePicker {
  position: absolute;
  top: -250px;
  left: 35px;
  z-index: 999;
}

.positionCitiesList {
  position: absolute;
  left: 0px;
}

.positionTypesList {
  position: absolute;
  left: 100px;
}

.containerEventCard {
  width: 700px;
  margin: 10px 0px;
}

.containerEventCard h1 {
  font-size: 25px;
  color: rgb(232, 223, 233);
  margin: 0px;
  margin-bottom: 10px;
}

.noHayEventos {
  width: 100%;
  height: 50vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .containerInput {
    width: 98%;
  }

  .containerButtons {
    width: 98%;
  }

  .containerPicker {
    width: 99%;
  }

  .containerEventCard {
    width: 98%;
  }
}
