.stickyHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  z-index: 9;
  background-color: #0c0c0c;
  padding: 10px 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.bodyLoader {
  width: 600px;
  height: 150vh;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.containerSkeleton {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.bodyLoaderLazyLoad {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyLoaderLazyLoad p {
  color: #ffffff;
  font-size: 16px;
}

.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0px;
  margin-top: 0px;
}

.containerFixed {
  position: sticky;
  top: 0px;
  width: 600px;
  background-color: #0c0c0c;
  z-index: 99;
}

.containerInput {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
}

.containerButtons {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 10px 0px;
  gap: 10px;
  flex-wrap: wrap;
}

.containerPicker {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerUbicacion {
  position: absolute;
  visibility: hidden;
}

.containerGenero {
  position: absolute;
  visibility: hidden;
}

.containerUbicacion {
  width: 300px;
}

.containerEventCard {
  width: 600px;
  margin: 0px;
  margin-bottom: 10px;
}

.firstElement {
  margin-top: 0px;
}

.containerEventCard h1 {
  font-size: 25px;
  color: rgb(232, 223, 233);
  margin: 0px;
  margin-bottom: 10px;
}

.noHayEventos {
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 220px;
  text-align: center;
}

.noHayEventos h1 {
  font-size: 22px;
}

@media screen and (max-width: 650px) {
  .bodyLoader {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .containerFixed {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .containerInput {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .containerButtons {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .containerPicker {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .containerEventCard {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .containerSkeleton {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .noHayEventos {
    padding: 0px 10px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 500px) {
  .containerPicker {
    top: 125px;
  }

  .noHayEventos {
    padding: 0px 30px;
  }

  .noHayEventos h1 {
    font-size: 20px;
  }
}
