.body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .leftContainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .form h1 {
    color: var(--On-Backround-1, #f8f8f8);
    font-family: Roboto Condensed;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
  }
  
  .containerIcons {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  
  .boxIcon {
    width: 58px;
    height: 58px;
    border-radius: var(--1, 8px);
    background: var(--Secondary-1, #7c16f5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  
  .form input {
    width: 363px;
    height: 43px;
    border-radius: var(--1, 8px) var(--1, 8px) var(--none, 0px) var(--none, 0px);
    background: var(--gris-topo, #1b1c20);
    color: var(--hover, #4a4458);
    font-family: Roboto Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    padding-left: 15px;
  }
  
  .form button {
    width: 363px;
    height: 50px;
    padding: 8px 22px;
    border-radius: 8px;
    background: #7c16f5;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border: none;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .containerH3yH4 {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 20px;
  }
  
  .containerH3yH4 h3 {
    color: var(--On-Backround-1, #f8f8f8);
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .link {
    text-decoration: none;
    color: var(--texto-sobre-negro, #caa2fb);
    font-family: Roboto Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .rigthContianer {
    width: 50%;
    height: 100%;
    background-image: url("https://s3-alpha-sig.figma.com/img/5886/7dd6/d2799ce49cb88cbf176531164a3d264c?Expires=1704672000&Signature=Mh6x2-HhlLyHtPpDi5CFTihMToiP-jGCLU7piRD4nwZTACl6dQ9FpsLMq-HzmUuzSKcJlm2KUhtVvE3c0pzId9cTb6lP9vfcX~GQDS6r52c9fLNlvTjba6Bz~Vjp~TorbJumk2wNuEOI~y0rn5uPHzmbLzAZfbSwSMlxdg5ZnJuyoYQLqF2T5DEKiyn364~lWR~ZIBX4VAU9RWnQDc1YHcjtBGaHTMgHd3e6uCPnKx6Fyp0--PKHEegLSrCeA7Kb1U1Qn8-OmAbp6NKZtu9rFDSvGJtnag~6Cc32BGNDE2uihVvFkjujq6cWw~MrHlEVcmCarKjpyu7hZHZsyuNuFw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  @media (max-width: 800px) {
    .leftContainer {
      width: 100%;
      background-image: url("https://s3-alpha-sig.figma.com/img/5886/7dd6/d2799ce49cb88cbf176531164a3d264c?Expires=1704672000&Signature=Mh6x2-HhlLyHtPpDi5CFTihMToiP-jGCLU7piRD4nwZTACl6dQ9FpsLMq-HzmUuzSKcJlm2KUhtVvE3c0pzId9cTb6lP9vfcX~GQDS6r52c9fLNlvTjba6Bz~Vjp~TorbJumk2wNuEOI~y0rn5uPHzmbLzAZfbSwSMlxdg5ZnJuyoYQLqF2T5DEKiyn364~lWR~ZIBX4VAU9RWnQDc1YHcjtBGaHTMgHd3e6uCPnKx6Fyp0--PKHEegLSrCeA7Kb1U1Qn8-OmAbp6NKZtu9rFDSvGJtnag~6Cc32BGNDE2uihVvFkjujq6cWw~MrHlEVcmCarKjpyu7hZHZsyuNuFw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  
    .rigthContianer {
      display: none;
    }
  }
  
  @media (max-width: 400px) {
    .form input {
      width: 90%;
    }
  
    .form button {
      width: 90%;
    }
  }
  