.datePicker {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}

.icon {
  position: absolute;
  color: #ffffff;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.icon2 {
  position: absolute;
  color: #ffffff;
  right: 10px;
  top: 54%;
  cursor: pointer;
}
