.body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 400px;
}

.containerForm{
    height: 75px;
    display: grid;
    align-items: center;
}

.containerForm label{
    font-size: 20px;
    color: #ffffff;
}

.containerForm input{
    width: 300px;
    height: 25px;
    padding: 5px 15px;
}

.containerForm input::placeholder{
    color: #000000;
}

.containerForm select{
    width: 330px;
    height: 35px;
    padding: 5px 15px;
}

.buttonForm{
    width: 150px;
    height: 35px;
    cursor: pointer;
    color: #000000;
    border: none;
}

.buttonForm:hover{
    font-weight: bold;
}