.body {
  height: 35px;
  display: flex;
  background-color: #1b1c20;
  background-clip: padding-box;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 0px 3px;
}

.body:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: linear-gradient(90deg, #ea33f7 0%, #7c16f5 100%);
  border-radius: 8px;
  z-index: -1;
  border: 1px solid transparent;
}

.buttonPickerSelected {
  background-color: #1b1c20;
  border: none;
  height: 99%;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  cursor: pointer;
  color: #ffffff;
}

/*
linear-gradient(90deg, #EA33F7 0%, #7C16F5 100%)
*/
