.body {
  position: relative;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    90deg,
    #1e1e1e 38.51%,
    #3b1d61 94.35%,
    #3b1d61 94.36%
  );
  background-clip: padding-box;
  cursor: pointer;
  border-radius: 20px;
  padding: 0px 8px;
}

.body:before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background: linear-gradient(105deg, #7c16f5 40%, #c18fff 100%);
  border-radius: 20px;
  z-index: -1;
  border: none;
}

.buttonPickerSelected {
  background-color: transparent;
  height: 100%;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  cursor: pointer;
  color: #ffffff;
  margin-left: 5px;
}
