.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  min-height: 83vh;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}

.inputFileContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 2px solid var(--hover, #4a4458);
  border-right: 2px solid var(--hover, #4a4458);
  padding: 5px 10px;
  box-sizing: border-box;
  background: var(--gris-topo, #1b1c20);
  border-radius: var(--1, 8px) var(--1, 8px) var(--none, 0px) var(--none, 0px);
  color: var(--hover, #4a4458);
}

.inputFileContainer label {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 450px) {
  .form {
    width: 95%;
  }
}
