.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  min-height: 75vh;
}

.form {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #1b1c20;
  border-radius: 8px;
  color: #ffffff;
}

.form h1 {
  font-family: "Roboto Condensed";
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px 0px 30px 0px;
}

.containerPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px 0px 50px 0px;
}

.linePageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.linePage {
  width: 50%;
  height: 2px;
  background-color: #ffffff;
}

.cirule {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.containerNumbers {
  height: 15px;
  width: 55%;
  display: flex;
  align-items: center;
  position: relative;
}

.containerNumbers p {
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
}

.numberLeft {
  left: 2px;
}

.numberRight {
  right: 1px;
}

.formH3 {
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px;
  margin: 0px 0px 5px 0px;
}

.containerCard {
  border: 1px solid #ffffff;
  border-radius: 13px;
  height: 116px;
  padding-left: 6px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 5px 0px 0px 0px;
}

.containerButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 0px 20px;
  gap: 20px;
  box-sizing: border-box;
}

.alert {
  display: none;
  text-align: center;
  color: #ffffff;
  width: 500px;
}

.alert h1 {
  font-size: 60px;
}

@media screen and (max-width: 510px) {
  .form {
    width: 95%;
  }

  .alert {
    width: 95%;
  }

  .containerButton {
    flex-direction: column;
  }
}
