.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #1b1c20;
}

.form h1 {
  color: #ffffff;
}
