.body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0px;
  min-height: 83vh;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}

.containerEventCard {
  width: 700px;
}

@media screen and (max-width: 750px) {
  .containerEventCard {
    width: 98%;
  }
}

@media (max-width: 450px) {
  .form {
    width: 95%;
  }
}
