.bodyInputFile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bodyInputFile label {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inputFileContainer {
  width: 100%;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  border: 2px dashed #ffffff;
  border-radius: 8px;
  padding: 0px 5px;
  box-sizing: border-box;
}

.inputFileContainer label {
  height: 100%;
  width: 50%;
  color: var(--Jodify-Secondary-1, #7c16f5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  font-size: 16px;
}

.inputFileContainer input {
  display: none;
}

.inputFileContainer p {
  color: #ffffff;
  font-size: 12px;
  margin: 0px;
  width: 50%;
  word-wrap: break-word;
}
