.bodyIcons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px 0px;
}

.containerIcons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.boxIcon {
  width: 58px;
  height: 58px;
  border-radius: var(--1, 8px);
  background: var(--Secondary-1, #7c16f5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}

.lineIconContainer {
  width: 300px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
  gap: 10px;
}

.lineIcon {
  width: 45%;
  background-color: #ffffff;
  height: 1px;
}
