.body {
  width: 100%;
  height: 91.16vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftContainer h1 {
  color: var(--On-Backround-1, #f8f8f8);
  font-family: Roboto Condensed;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 450px;
}

.containerParrafos {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.containerParrafos p {
  color: var(--On-Backround-1, #f8f8f8);
  font-family: Roboto Condensed;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 15px;
}

.buttonContainer {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 60px;
}

.button {
  display: flex;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #7c16f5;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.rightContainer {
  background-image: url("https://s3-alpha-sig.figma.com/img/c510/9e0a/969255c1665e8651ca9f2d63332ee64d?Expires=1704672000&Signature=l0TLtNORqpq~GQCTflZEEVy44ViDKMpeHypdL4kckrwxDMNpYmCgdEwfgOMUgUJyCSw~5TycaaHYaq~MAzWIipLfJyxDG0030ohjC5euwU7OLs6oSlqFzOoePtd2OO62UfNcxpFJSMBfsSvJGmTHeIFSp67VFPU0hBIMXzMwc6XaOvWONBNDtK3uVo4bL5NnJrvAJU7AjH7x0iwwFvEYs5XDV3gIvErCsnXeyPtSY42sDAKO8ttWg1v1IJTTL0G-XWzg5ugoQ9sH~VPbUWzd~Qe-V9exUS17cqZpNoUCTpwa1DCBauf4tYH~pcsL2TIZKmvx2CxGKb~w1r90~LrxaQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 950px) {
  .leftContainer {
    background-image: url("https://s3-alpha-sig.figma.com/img/c510/9e0a/969255c1665e8651ca9f2d63332ee64d?Expires=1704672000&Signature=l0TLtNORqpq~GQCTflZEEVy44ViDKMpeHypdL4kckrwxDMNpYmCgdEwfgOMUgUJyCSw~5TycaaHYaq~MAzWIipLfJyxDG0030ohjC5euwU7OLs6oSlqFzOoePtd2OO62UfNcxpFJSMBfsSvJGmTHeIFSp67VFPU0hBIMXzMwc6XaOvWONBNDtK3uVo4bL5NnJrvAJU7AjH7x0iwwFvEYs5XDV3gIvErCsnXeyPtSY42sDAKO8ttWg1v1IJTTL0G-XWzg5ugoQ9sH~VPbUWzd~Qe-V9exUS17cqZpNoUCTpwa1DCBauf4tYH~pcsL2TIZKmvx2CxGKb~w1r90~LrxaQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .rightContainer {
    display: none;
  }
}

@media (max-width: 480px) {
  .leftContainer h1 {
    font-size: 42px;
    width: 95%;
  }

  .containerParrafos {
    width: 95%;
  }

  .containerParrafos p {
    font-size: 18px;
  }

  .buttonContainer {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 60px;
  }
}
