.selectBlack {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #1b1c20;
}

.positionAbsolute {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  position: absolute;
  right: 10px;
  color: #ffffff;
}
